# Exclude common development environment files
.venv/
__pycache__/

# Exclude the Google Cloud SDK installation
google-cloud-sdk/

# Exclude other development-specific files
.git/
.gitignore
.DS_Store
docker-compose.yml
# Any other files or directories that are not needed for your build
